body {
    background-color: yellowgreen;
    height: 100vh;
    overflow: hidden;
    font-family: sans-serif;
}
table {
    font-size: 16px;
    width: 370px;
    height: 400px;
    border-spacing: 0;
}

h2 {
    text-align: center;
    font-size: 30px;
    color: #fff;
}
thead {
    color: #fff;
}
thead tr th {
    background-color: #292929;
    padding: 10px 0;
}
tr:nth-child(2n) {
    background-color: rgb(183, 224, 99);
}
tr:nth-child(1) {
    background-color: gold;
}
tr:nth-child(2) {
    background-color: silver;
}
tr:nth-child(3) {
    background-color: rgb(149, 43, 43);
}
tr {
    background-color: yellowgreen;
    color: white;
}

.tableCont {
    width: 370px;
    height: 400px;
}
.td1 {
    padding-left: 20px;
    text-align: center;
    padding-right: 30px;
}
.td3 {
    padding-right: 20px;
    text-align: center;
}

.td2 {
    width: 250px;
    text-align: left;
}

#container {
    position: relative;
    height: 730px;
    width: 370px;

    margin-top: 20px;
    background-color: #292929;
    overflow: hidden;
    max-height: 730px;
    max-width: 370px;
}
.gameContainer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
#score_div {
    width: 180px;
    height: 90px;
    border-radius: 30px;
    font-size: 30px;
    background-color: white;
    color: #454545;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 4px 4px 0px 1px #808080;
    animation: mymove 1s infinite;
    animation-direction: alternate;
}

.scoreCont {
    display: flex;
    justify-content: space-between;

    border: 2px solid black;

    margin: 0;
}
.line {
    position: absolute;
    height: 150px;
    width: 4%;
    margin-left: 48%;
    background-color: rgba(255, 255, 255, 0.739);
}
#line_1 {
    top: -31%;
}
#line_2 {
    top: 10%;
}
#line_3 {
    top: 51%;
}
.car {
    z-index: 4;
    position: absolute;
    height: 70px;
    width: 40px;
    border-radius: 10px 10px 15px 15px;
    box-shadow: 0px 1px 8px 0px black;
}
.busted {
    position: absolute;
    top: -1%;
    display: none;
    font-size: 50px;
    text-shadow: 2px 2px rgb(219, 117, 80);
    animation: busted 1s infinite;
    animation-direction: alternate;
    color: gold;
    z-index: 1000;
}
#car {
    background-color: red;
}
.stripe_l {
    position: absolute;
    width: 15%;
    height: 100%;
    background-color: #fff;
    left: 28%;
}
.stripe_r {
    position: absolute;
    width: 15%;
    height: 100%;
    background-color: #fff;
    right: 28%;
}
.star {
    width: 20px;
    height: 20px;
    position: absolute;
    right: 23%;
    background-color: #fff;
    -webkit-clip-path: polygon(
        50% 0%,
        61% 35%,
        98% 35%,
        68% 57%,
        79% 91%,
        50% 70%,
        21% 91%,
        32% 57%,
        2% 35%,
        39% 35%
    );
    clip-path: polygon(
        50% 0%,
        61% 35%,
        98% 35%,
        68% 57%,
        79% 91%,
        50% 70%,
        21% 91%,
        32% 57%,
        2% 35%,
        39% 35%
    );
}
.io {
    z-index: 12;
    position: absolute;
    width: 10px;
    height: 7px;
    top: 51%;
    left: 16%;
    background-color: #292929;

    animation: myblue 0.5s infinite;
}
.f_glass {
    z-index: 12;
    position: absolute;
    height: 17%;
    width: 80%;
    margin-left: 11%;
    top: 30%;
    -webkit-clip-path: polygon(5% 100%, 95% 100%, 100% 0, 0 0);
    clip-path: polygon(5% 100%, 95% 100%, 100% 0, 0 0);
    background-color: #484848;
}
.r_glass {
    z-index: 12;
    position: absolute;
    height: 35%;
    width: 4%;
    top: 42%;
    right: 7%;
    background-color: #484848;
    -webkit-clip-path: polygon(0 34%, 100% 0, 100% 100%, 0 67%);
    clip-path: polygon(0 34%, 100% 0, 100% 100%, 0 67%);
}
.l_glass {
    z-index: 12;
    position: absolute;
    height: 35%;
    width: 4%;
    top: 42%;
    left: 9%;
    background-color: #484848;
    -webkit-clip-path: polygon(0 0, 100% 33%, 100% 67%, 0 100%);
    clip-path: polygon(0 0, 100% 33%, 100% 67%, 0 100%);
}
.b_glass {
    z-index: 12;
    position: absolute;
    height: 25%;
    width: 80%;
    margin-left: 11%;
    bottom: 10%;
    -webkit-clip-path: polygon(5% 0, 95% 0, 100% 100%, 0% 100%);
    clip-path: polygon(5% 0, 95% 0, 100% 100%, 0% 100%);
    border-radius: 0px 0px 5px 5px;
    background-color: #484848;
}

.f_tyre_r {
    position: absolute;
    height: 17%;
    width: 4%;
    background-color: grey;
    top: 17%;
    left: -5%;
    border-radius: 5px 0px 0px 5px;
}
.f_tyre_l {
    position: absolute;
    height: 17%;
    width: 4%;
    background-color: grey;
    top: 17%;
    left: 100%;
    border-radius: 0px 5px 5px 0px;
}
.b_tyre_l {
    position: absolute;
    height: 20%;
    width: 8%;
    background-color: grey;
    top: 60%;
    left: -7%;
    border-radius: 5px 0px 0px 5px;
}
.b_tyre_r {
    position: absolute;
    height: 20%;
    width: 8%;
    background-color: grey;
    top: 60%;
    left: 100%;
    border-radius: 0px 5px 5px 0px;
}
#car_1 {
    top: -100px;
    left: 60%;
    background-color: #1373eb;
}
#car_2 {
    top: -200px;
    left: 40%;
    background-color: #1373eb;
}
#car_3 {
    top: -350px;
    left: 50%;
    background-color: #1373eb;
}
#restart_div {
    z-index: 100;
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #292929;
    color: white;
    font-family: sans-serif;
    font-size: 40px;
    text-align: center;
    display: none;
    align-items: center;
    flex-direction: column;
}

#restart {
    border: none;
    padding: 25px;
    color: white;
    background-color: silver;
    font-size: 30px;
    margin-top: 30%;
    width: 40%;
    align-items: center;
    color: black;
}
.restartText {
    margin-top: 30px;
}
.inputName {
    margin-top: 20px;
    padding: 15px;
    font-size: 15px;
}
.inputName:focus {
    box-shadow: 0 0 10px silver;
    border-color: silver;
    border-width: 5px;
}
.small_text {
    font-size: 15px;
}

#help {
    font-size: 25px;

    color: #000;
}
@keyframes mymove {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.1);
    }
}
@keyframes myblue {
    from {
        border-right: 9px solid #2d5cf6;
        border-left: 9px solid #000;
    }
    to {
        border-left: 9px solid red;
        border-right: 9px solid #000;
    }
}
@keyframes busted {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(2);
    }
}
