/////// Colors

$color-main: rgb(151, 202, 47);
$color-main-light: rgb(183, 224, 99);
$color-white: rgb(255, 255, 255);
$color-black: rgb(0, 0, 0);
$color-brown: rgb(149, 43, 43);
$color-silver: rgb(192, 192, 192);
$color-dark-main: rgb(37, 37, 37);
$color-grey: rgb(128, 128, 128);
$color-grey-dark: rgb(72, 72, 72);
$color-gold: rgb(255, 215, 0);
$color-orange: rgb(219, 117, 80);
$color-blue: rgb(19, 115, 235);
